body {
    margin: 0;
    padding: 0;
    background: url(image01.jpg);
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px, 100px, 0px, 50px;
    height: 70px;
    align-items: center;
}
.links {
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav-1 {
    display: flex;
    align-items: center;
    gap: 120px;
}
.logo {
    color: rgba(204, 6, 164, 0.782);
    font-size: 30px;
    font-weight: 600;
    }
.links li {
    font-size: 19px;
    color: rgb(175, 6, 93);
}
.icons {
    display: flex;
    gap: 35px;
}
.icons i {
    color: black;
    font-size: 25px;
}
.hero {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 80px;
}
.left {
    display: flex;
    flex-direction: column;
    padding-left: 240px;
}
.left1 {
    font-size: 30px;
    font-style: italic;
}
.left2 {
    font-size: 85px;
    font-weight: 600;
}
.left3 {
    font-size: 27px;
    font-style: italic;
    color: black;
}
.left4 {
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 30px;
}
.food {
    border: 2px solid black;
    border-radius: 50%;
    align-items: start;
}
#food {
    background: url(image02.jpg);
    width: 220px;
    height: 220px;
    align-items: center;
}
.items {
    display: flex;
    padding-left: 150px;
    margin-top: 150px;
    gap: 20px;
}
#food1,
#food2,
#food3,
#food4 {
    border: 2px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#food1 {
    background: url(image03.jpg);
    background-size: cover;
}
#food2 {
    background: url(image04.jpg);
    background-size: cover;
}
#food3 {
    background: url(image05.jpg);
    background-size: cover;
}
#food4 {
    background: url(image06.jpg);
    background-size: cover;
}